<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ base_path }}static/css/style.css">
    <meta name="description" content="優雅極簡的個人博客">
</head>
<body>
    <header>
        <nav>
            <div class="blog-title">
                <a href="https://xiaonaofua.github.io/blog/"><h1>小腦斧啊的博客</h1></a>
            </div>
            {{ navigation }}
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2025 <a href="https://xiaonaofua.github.io/blog/">小腦斧啊的博客</a></p>
    </footer>

</body>
</html>