<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ base_path }}static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="{{ base_path }}index.html"><h1>我的極簡博客</h1></a>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2025 我的博客</p>
    </footer>

</body>
</html>
